*{
    margin: 0;
    padding: 0;
}

html{
    background-color: #fff;
    color: #555;
    font-family: "Lato","Verdana";
    font-size: 20px;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

header{
    min-height:100vh;
    background-image: linear-gradient(rgba(20,20,20,0.69),rgba(20,20,20,0.69)),url(../img/bg.jpg);
    background-position: center;
    background-size: cover;
}

.logo{
    margin-top: 10px;
    height: 40px;
    margin-bottom: 10px;
}

.navcon{
    background-color: transparent;
}

.navitem{
    text-transform: uppercase;
    font-size: 90%;
    letter-spacing: 1px;
    transition: 0.5s;
}

.navitem:hover{
    border-bottom: 1px solid #e67e22;
}

.OTCard{
    margin-top: 20px;
}

@media(max-width:820px){
    .navcon{
        background-color: #1c1c1c;
    }

    .OTCard{
        margin-top: 0;
    }

    .btn{
        font-size: 0.8rem;
    }

    .header-text{
        padding-top: 0;
        margin-bottom: 0;
    }

    .header-main{
        font-size: 1.5rem;
    }

    .ft2{
        font-size: 100%;
        text-align: center;

    }
    
    .ft2 i{
        font-size: 70%;

    }
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link{
    color: #e67e22;
    font-weight: bold;
}

.header-text{
    font-family: "Lato", "Verdana";
    background-color: transparent;
    color: white;
}

.header-main{
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    word-spacing: 4px;
    margin-bottom: 30px;
}

.btn:link, .btn:visited{
    border: 1px solid #e67e22;
    border-radius: 30px;
    text-decoration: none;
    margin-left:20px;
    color: white;
}

.btn-full:link, .btn-full:visited{
    background-color: #e67e22;
    transition: .5s;
}

.btn-full:hover, .btn-full:active{
    background-color: #c36f08;
    transition: .5s;
}

.btn-ghost:link, .btn-ghost:visited{
    color: #e67e22;
    transition: .5s;
}

.btn-ghost:hover, .btn-ghost:active{
    background-color: #c36f08;
    color: white;
    transition: .5s;
}

.section1{
    min-height:101vh;
    background-image: linear-gradient(rgba(220,220,220,0.69),rgba(220,220,220,0.69)),url(../img/hero.jpg);
    background-position: center;
    background-size: cover;
}

.cardcon{
    background-color: white;
    min-height: 590px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 4px 9px 36px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 4px 9px 36px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 9px 36px -2px rgba(0,0,0,0.75);
}

.card h3{
    text-transform: uppercase;
    padding: 20px;
    font-size: 80%;
    text-align: center;
}

.card h4{
    color: #e67e22;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    font-size: 75%;
    margin-bottom: -20px;
}

.card p{
    font-size: 70%;
}

.btn-card:link, .btn-card:visited{
    color: #e67e22;
    transition: .5s;
    border: 1px solid #e67e22;
    border-radius: 30px;
    font-size: 75%;
    padding: 5px 15px;
    margin-left: 33%;
    text-decoration:none;
}

.btn-card:hover, .btn-card:active{
   background-color: #c36f08;
   color: #fff;
   transition: .5s;
}

.section2{
    min-height: 90vh;
    background-color: rgb(231, 231, 231);
}

footer{
    min-height: 10vh;
    background-color: #1c1c1c;
}

.ourteam{
    padding-top: 70px;
    text-align: center;
    font-size: 200%;
    color: #e67e22;
    text-transform: uppercase;
    letter-spacing: 4px;
    word-spacing: 4px;
    margin-bottom: 30px;
}

.OTCName{
    color: #e67e22;
    font-size: 120%;
}

.OTCp{
    font-size: 70%;
}

.ft{
    color: white;
    font-size: 60%;
    padding: 20px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.ft2{
    font-size: 90%;
    color: #fff;
    padding: 20px;
    margin-bottom: 0;
}

.ft2 i{
    font-size: 150%;
    color: #e67e22;
    margin-right: 10px;
}
.rtbutton{
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 99;
}

.rtbutton a:link, .rtbutton a:visited{
    color: #e67e22;
}

